<div class="container">
  <div class="backdrop" data-modal>
    <div class="modal">
      <button class="modal-close" data-modal-close>
        <svg class="close-svg" width="14" height="14">
          <use href="/img/icon.svg#icon-close-button"></use>
        </svg>
      </button>
      <span class="loader is-hidden"></span>
      <div class="js-modal-content">
        <template class="modal-template">
          <h2 data-artist-title class="section-modal-title"></h2>
          <div class="wrapper-desctope-view">
            <img
              data-section-modal-img
              src=""
              alt=""
              class="section-modal-img"
            />
            <div class="wrapper-desctope-view-description">
              <div class="section-modal-wrapper-text">
                <div class="section-modal-wrapper-text-description">
                  <div class="section-modal-text-container">
                    <h3 class="section-modal-text-container-title">
                      Years active
                    </h3>
                    <p data-years class="section-modal-text-container-text"></p>
                  </div>
                  <div class="section-modal-text-container">
                    <h3 class="section-modal-text-container-title">Sex</h3>
                    <p data-sex class="section-modal-text-container-text"></p>
                  </div>
                  <div class="section-modal-text-container">
                    <h3 class="section-modal-text-container-title">Members</h3>
                    <p
                      data-members
                      class="section-modal-text-container-text"
                    ></p>
                  </div>
                  <div class="section-modal-text-container">
                    <h3 class="section-modal-text-container-title">Country</h3>
                    <p
                      data-country
                      class="section-modal-text-container-text"
                    ></p>
                  </div>
                </div>
                <div class="section-modal-text-container">
                  <h3 class="section-modal-text-container-title">Biography</h3>
                  <p data-biography class="modal-desription-overflow"></p>
                </div>
              </div>
              <div data-genres class="section-modal-wrapper-genres"></div>
            </div>
          </div>
          <h2 class="section-modal-abums-title">Albums</h2>
          <div data-albums-wrapper class="section-modal-albums-wrapper"></div>
        </template>
      </div>
    </div>
  </div>
</div>
