<div class="container">
  <div class="backdrop" data-modal>
    <div class="modal">
      <button class="modal-close" data-modal-close>
        <svg class="close-svg" width="14" height="14">
          <use href="/img/icon.svg#icon-close-button"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<li class="section-modal-albume-container-list-item">
  <span data-item-nane class="container-list-item-span">Rip Me Apart</span>
  <span data-item-time class="container-list-item-span">3:02</span>
  <a data-item-icon-linc href="#" class="container-list-item-span-link">
    <svg class="close-svg" width="24" height="24">
      <use href="/img/icon.svg#icon-Youtube"></use>
    </svg>
  </a>
</li>
