<section class="section-feedback">
  <div class="container">
    <h2 class="feedbacks-title">Feedbacks our visitors</h2>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="section-feedback-content">
            <u data-feedback-list class="section-feedback-icon-list">
              <li data-feedback-item class="feedback-icin-item">
                <svg
                  data-feedback-svg
                  class="feedback-star-svg"
                  width="20"
                  height="19"
                >
                  <use href="/img/icon.svg#icon-icon-star"></use>
                </svg>
              </li>
              <li data-feedback-item class="feedback-icin-item">
                <svg
                  data-feedback-svg
                  class="feedback-star-svg"
                  width="20"
                  height="19"
                >
                  <use href="/img/icon.svg#icon-icon-star"></use>
                </svg>
              </li>
              <li data-feedback-item class="feedback-icin-item">
                <svg
                  data-feedback-svg
                  class="feedback-star-svg"
                  width="20"
                  height="19"
                >
                  <use href="/img/icon.svg#icon-icon-star"></use>
                </svg>
              </li>
              <li data-feedback-item class="feedback-icin-item">
                <svg
                  data-feedback-svg
                  class="feedback-star-svg"
                  width="20"
                  height="19"
                >
                  <use href="/img/icon.svg#icon-icon-star"></use>
                </svg>
              </li>
              <li data-feedback-item class="feedback-icin-item">
                <svg
                  data-feedback-svg
                  class="feedback-star-svg"
                  width="20"
                  height="19"
                >
                  <use href="/img/icon.svg#icon-icon-star"></use>
                </svg>
              </li>
            </u>
            <p data-feedback-text class="feedbacks-text">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!" Emily
              Johnson
            </p>
            <p data-feedback-name class="feedback-name">Emily Johnson</p>
          </div>
        </div>
      </div>
      <button class="swiper-button next">
        <svg class="arrow-svg" width="14" height="14">
          <use href="/img/icon.svg#icon-right-arrow-swiper"></use>
        </svg>
      </button>
      <button class="swiper-button prev">
        <svg class="arrow-svg" width="14" height="14">
          <use href="/img/icon.svg#icon-left-arrow-swiper"></use>
        </svg>
      </button>
      <div class="swiper-pagination"></div>
    </div>

   

    <button class="button-section-feedbacks" data-modal-open>Leave feedback</button>
  </div>
</section>
