<header class="header">
<div class="container header-container">
    <nav class="header-nav-page">
    <a href="https://grimi314.github.io/Project_CTRL-ALT-ELITE/" class="header-logo-link">
        <svg class="icon header-icon-logo">
            <use xlink:href="/img/icon.svg#icon-Company-Logo"></use>
        </svg>
    </a>
    <ul class="header-nav-list">
        <li class="header-nav-item"><a href="#artists" class="header-link-nav">Artists</a></li>
        <li class="header-nav-item"><a href="#about-us" class="header-link-nav">About Us</a></li>
        <li class="header-nav-item"><a href="#feedbacks" class="header-link-nav">Reviews</a></li>
    </ul>
    </nav>
    <button class="header-burger-btn" type="button">
    <svg class="icon header-icon-burger" width="16" height="12">
        <use xlink:href="/img/icon.svg#icon-burger"></use>
    </svg>
    </button>
</div>

    <div class="mobile-menu">
        <div class="container mobile-menu-header">
            <a href="https://grimi314.github.io/Project_CTRL-ALT-ELITE/" class="header-logo-link">
                <svg class="icon header-icon-logo">
                    <use xlink:href="/img/icon.svg#icon-Company-Logo"></use>
                </svg>
            </a>
            <button class="mobile-menu-close-btn" type="button" >
                <svg class="icon header-icon-close" width="12" height="12">
                    <use xlink:href="/img/icon.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-list">
                <li class="mobile-menu-item"><a href="#artists" class="mobile-menu-link">Artists</a></li>
                <li class="mobile-menu-item"><a href="#about-us" class="mobile-menu-link">About Us</a></li>
                <li class="mobile-menu-item"><a href="#feedbacks" class="mobile-menu-link">Reviews</a></li>
            </ul>
        </nav>
    </div>
   
    

</header>