<section class="hero" id="home">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
      <h2 class="hero-subtitle">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </h2>
      <a href="#artists" class="hero-btn-nav">
        Explore Artists
        <svg class="hero-btn-nav-icon" width="15" height="20">
          <use href="../img/icon.svg#icon-triangel"></use>
        </svg>
      </a>
    </div>
    <div class="hero-content-img"></div>
  </div>
</section>
