:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #060307;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}


html,
body {
  overflow-x: hidden;
}

/* ширина скролу */
::-webkit-scrollbar {
  width: 10px;
}

/* фон скролбару */
::-webkit-scrollbar-track {
  background: #111;
}

/* сам повзунок */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}