.feedbacks-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-feedback {
  padding: 64px 0;
  color: #fff;
}

.section-feedback-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.section-feedback-icon-list {
  list-style: none;
  display: flex;
  gap: 4px;
}

.feedback-star-svg {
  fill: #fff;
}

.feedbacks-text {
  font-family: 'Epilogue', sans-serif;
  width: 288px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
}

.feedback-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.swiper-button {
  display: none;
}

@media (min-width: 768px) {
  .feedbacks-text {
    width: 518px;
    font-size: 26px;
  }

  .arrow-svg {
    fill: #fff;
  }

  .swiper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: transparent;
  }

  .swiper {
    position: relative;
  }

  .next {
    position: absolute;
    top: 99px;
    left: 0;
  }

  .prev {
    position: absolute;
    top: 99px;
    right: 0;
  }

  .swiper-wrapper {
    padding-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .feedbacks-text {
    width: 866px;
    font-size: 32px;
    line-height: 1.3;
  }

  .section-feedback {
    padding: 112px 0;
    color: #fff;
  }

  .swiper {
    padding: 59px 0;
  }

  .next {
    position: absolute;
    top: 98px;
  }

  .prev {
    position: absolute;
    top: 98px;
  }
}

body {
  background-color: black;
}
