
/* header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.5px 12px 6.5px 20px;
    margin: 0;
}
.header-logo-link {
    display: block;
    height: 51px;
}
    .header-nav-page {
        display: flex;
        align-items: center;
        
        }

        .header-icon-logo {
            width: 119px;
            height: 51px;

        }

        .header-nav-list {
            display: none;
            margin: 0;
        }

        .header-icon-burger {
            fill: #fff;
        }

        .header-burger-btn {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 12px;
        }

        body.mobile-menu-open .header-burger-btn {
            display: none;
        }

        body.mobile-menu-open .mobile-menu-close-btn {
            display: flex;
        }
       body.mobile-menu-open .header {
            height: 0;
            min-height: 0;
            overflow: hidden;
        }
    
        body.mobile-menu-open .header-container {
            opacity: 0;
            pointer-events: none;
        }
        /* Mobile menu styles */
    .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #060307;
            z-index: 999;

            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
           
        }
    
        .mobile-menu.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
        
.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.5px 12px 6.5px 20px;
}
        .mobile-menu-close-btn {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            width: 24px;
            height: 24px;
            display: none;
            
        }


        .mobile-menu-nav {
            display: flex;
            justify-content: center;
            flex: 1;
            height: 100%;
            padding-top: 39px;
        }

        .mobile-menu-list {
            list-style: none;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 32px;
            text-align: center;
        }
.mobile-menu-link {
        font-weight: 500;
        font-size: 26px;
        line-height: 1.5em;
        color: #ffffff;
        text-decoration: none;
}
    
body.mobile-menu-open {
    overflow: hidden;
}

/* tablet */
@media (min-width: 768px) {
    
        .header-container {
            display: flex;
            align-items: center;
            padding: 10.5px 64px;
        }
    
        .header-nav-page {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    
        .icon {
            display: inline-block;
            fill: #ffffff;
            color: #ffffff;
            opacity: 1;
    
        }
    
        .header-icon-logo {
            width: 119px;
            height: 51px;
            cursor: pointer;
            margin: 0;
        }
    
        .header-nav-list {
            display: flex;
            gap: 32px;
            list-style: none;
            margin-left: auto;
            margin-right: 0;
            
        }
    
        .header-nav-item {
            font-size: 18px;
            font-weight: 400;
            color: #ffffff;
            cursor: pointer;
            line-height: 1.5;
            
        }
    .header-link-nav {
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5em;
    }
        .header-burger-btn {
            display: none;
        }
}


/* desktop */
@media (min-width: 1150px) {
    .header-container {
        max-width: 1150px;
        margin: 0 auto;
}
.header-nav-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
}
/* header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.5px 12px 6.5px 20px;
    margin: 0;
}

.header-logo-link {
    display: block;
    height: 51px;
}

.header-nav-page {
    display: flex;
    align-items: center;

}

.header-icon-logo {
    width: 119px;
    height: 51px;

}

.header-nav-list {
    display: none;
    margin: 0;
}

.header-icon-burger {
    fill: #fff;
}

.header-burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 12px;
}

body.mobile-menu-open .header-burger-btn {
    display: none;
}

body.mobile-menu-open .mobile-menu-close-btn {
    display: flex;
}

body.mobile-menu-open .header {
    height: 0;
    min-height: 0;
    overflow: hidden;
}

body.mobile-menu-open .header-container {
    opacity: 0;
    pointer-events: none;
}

/* Mobile menu styles */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #060307;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.5px 12px 6.5px 20px;
}

.mobile-menu-close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 11.3px;
    height: 11.3px;
    display: none;
}
.header-icon-close {
    width: 11.3px;
    height: 11.3px;
}

.mobile-menu-nav {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
    padding-top: 39px;
}

.mobile-menu-list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.mobile-menu-link {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.5em;
    color: #ffffff;
    text-decoration: none;
}

body.mobile-menu-open {
    overflow: hidden;
}

/* tablet */
@media (min-width: 768px) {

    .header-container {
        display: flex;
        align-items: center;
        padding: 10.5px 64px;
    }

    .header-nav-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .icon {
        display: inline-block;
        fill: #ffffff;
        color: #ffffff;
        opacity: 1;

    }

    .header-icon-logo {
        width: 119px;
        height: 51px;
        cursor: pointer;
        margin: 0;
    }

    .header-nav-list {
        display: flex;
        gap: 32px;
        list-style: none;
        margin-left: auto;
        margin-right: 0;

    }

    .header-nav-item {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        cursor: pointer;
        line-height: 1.5;

    }

    .header-link-nav {
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5em;
    }

    .header-burger-btn {
        display: none;
    }
}


/* desktop */
@media (min-width: 1440px) {
    .header-container {
        width: 1440px;
        padding: 10.5px 64px;
    }

    .header-nav-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1150px;
    }
.header-nav-list {
    display: flex;

    margin-left: auto;
}
    .header-icon-logo {
        margin: 0;
    }
}

}






