/* --------   mobile 320px  --------  */

.hero {
  background: linear-gradient(
    to bottom,
    #060307 0%,
    #23132b 5%,
    #23132b 70%,
    #060307 100%
  );
  color: #fff;
}

.gradient {
  background: linear-gradient(360deg, rgba(35, 19, 43, 0) 0%, #060307 100%);
  width: 100%;
  height: 80px;
  position: absolute;
  top: 64px;
  left: 0;
}

.hero-content {
  padding: 128px 0 64px 0;
  text-align: left;
}

.hero-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  max-width: 288px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.hero-btn-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  max-width: 288px;
  height: 47px;
  border-radius: 12px;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  background: #764191;
  border: none;

  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  transition: opacity 250ms ease, transform 100ms ease;
}

.hero-btn-nav:hover {
  opacity: 0.6;
}

.hero-btn-nav:active {
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05);
}

.hero-btn-nav.is-disabled {
  opacity: 0.2;
  pointer-events: none;
}

.hero-btn-nav-icon {
  flex-shrink: 0;
  fill: currentColor;
}

.hero-content-img {
  height: 385px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/img/hero-mobile.webp);
  background-image: image-set(
    url('/img/hero-mobile.webp') 1x,
    url('/img/hero-mobile@2x.webp') 2x
  );
}

/* --------   tablet 768px   --------  */

@media (min-width: 768px) {
  .hero-content-img {
    height: 632px;
    background-image: url(/img/hero-tablet.webp);
    background-image: image-set(
      url('/img/hero-tablet.webp') 1x,
      url('/img/hero-tablet@2x.webp') 2x
    );
  }

  .gradient {
    height: 32px;
  }
  .hero-content {
    padding: 104px 0 32px 0;
  }

  .hero-title {
    max-width: 624px;
    margin-bottom: 24px;
  }

  .hero-subtitle {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .hero-btn-nav {
    width: 246px;
  }
}

/* --------   desktop 1440px   --------  */

@media (min-width: 1440px) {
  .hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 31px;
  }

  .gradient {
    height: 80px;
  }

  .hero-content {
    padding: 0;
    flex: 0 0 640px;
  }

  .hero-content-img {
    background-image: none;
    height: auto;
    padding: 0;
  }

  .hero-title {
    font-size: 84px;
    width: 640px;
  }

  .hero-subtitle {
    width: 640px;
  }

  .hero-btn-nav {
    width: 206px;
    margin-bottom: 0;
  }

  .hero-content-slider-wrapper {
    display: flex;
    gap: 17px;
    height: 900px;
    align-items: flex-start;
    overflow: hidden;
  }

  .hero-content-slider {
    overflow: hidden;
    flex: 1;
    width: 312px;
    height: 100%;
    margin-top: 72px;
  }

  .slides-track {
    display: flex;
    flex-direction: column;
    will-change: transform;
  }

  .slide {
    width: 312px;
    height: 340px;
    margin-bottom: 16px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
  }

  .slides-track.up {
    animation: scrollUp 20s linear infinite;
  }

  .slides-track.down {
    animation: scrollDown 20s linear infinite;
    margin-top: -178px;
  }

  @keyframes scrollUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1068px);
    }
  }

  @keyframes scrollDown {
    0% {
      transform: translateY(-1068px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .up_slide_1 {
    background-image: url(/img/hero-vusa.webp);
    background-image: image-set(
      url('/img/hero-vusa.webp') 1x,
      url('/img/hero-vusa_2х.webp') 2x
    );
  }

  .up_slide_2 {
    background-image: url(/img/hero-girl.webp);
    background-image: image-set(
      url('/img/hero-girl.webp') 1x,
      url('/img/hero-girl_2х.webp') 2x
    );
  }

  .up_slide_3 {
    background-image: url(/img/hero-man.webp);
    background-image: image-set(
      url('/img/hero-man.webp') 1x,
      url('/img/hero-man_2х.webp') 2x
    );
  }

  .down_slide_1 {
    background-image: url(/img/down_slide_1.webp);
    background-image: image-set(
      url('/img/down_slide_1.webp') 1x,
      url('/img/down_slide_1_2x.webp') 2x
    );
  }

  .down_slide_2 {
    background-image: url(/img/down_slide_2.webp);
    background-image: image-set(
      url('/img/down_slide_2.webp') 1x,
      url('/img/down_slide_2_2x.webp') 2x
    );
  }

  .down_slide_3 {
    background-image: url(/img/down_slide_3.webp);
    background-image: image-set(
      url('/img/down_slide_3.webp') 1x,
      url('/img/down_slide_3_2x.webp') 2x
    );
  }
}
